<!-- <mat-toolbar class="header-toolbar" color="primary">
    <mat-toolbar-row>
      <div class="container">
        <div class="row between-xs middle-xs header-row">
          <nav>
            <a mat-button routerLink="/home" routerLinkActive="active">Inicio</a>
            <a mat-button routerLink="/products" routerLinkActive="active"
              >Productos</a
            >
            <a mat-button routerLink="/contact" routerLinkActive="active"
              >Contact</a
            >
          </nav>
          <a routerLink="/order" mat-raised-button [matBadge]="total$ | async" matBadgeColor="warn">
            <mat-icon>shopping_cart</mat-icon>
            Carrito
          </a>
        </div>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>
   -->
   <!-- <nav class="navbar navbar-expand-lg fixed-top " >
    <div class="container">
        <div class="navbar-translate">
            <a class="navbar-brand" routerLink="/home" >Paper Kit 2 Angular</a>
            <button class="navbar-toggler navbar-burger" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation" (click)="sidebarToggle()">
                <span class="navbar-toggler-bar"></span>
                <span class="navbar-toggler-bar"></span>
                <span class="navbar-toggler-bar"></span>
            </button>
        </div>
        <div class="navbar-collapse" id="navbarToggler">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item" *ngIf="!isDocumentation()">
                    <a class="nav-link" rel="tooltip" title="Follow us on Twitter" data-placement="bottom" href="https://twitter.com/CreativeTim" target="_blank">
                        <i class="fa fa-twitter"></i>
                        <p class="d-lg-none">Twitter</p>
                    </a>
                </li>
                <li class="nav-item" *ngIf="!isDocumentation()">
                    <a class="nav-link" rel="tooltip" title="Like us on Facebook" data-placement="bottom" href="https://www.facebook.com/CreativeTim" target="_blank">
                        <i class="fa fa-facebook-square"></i>
                        <p class="d-lg-none">Facebook</p>
                    </a>
                </li>
                <li class="nav-item" *ngIf="!isDocumentation()">
                    <a class="nav-link" rel="tooltip" title="Follow us on Instagram" data-placement="bottom" href="https://www.instagram.com/CreativeTimOfficial" target="_blank">
                        <i class="fa fa-instagram"></i>
                        <p class="d-lg-none">Instagram</p>
                    </a>
                </li>
                <li class="nav-item" *ngIf="!isDocumentation()">
                    <a class="nav-link" rel="tooltip" title="Star on GitHub" data-placement="bottom" href="https://www.github.com/CreativeTimOfficial/paper-kit-2-angular" target="_blank">
                        <i class="fa fa-github"></i>
                        <p class="d-lg-none">GitHub</p>
                    </a>
                </li>
                <li class="nav-item" *ngIf="!isDocumentation()">
                    <a  class="nav-link"  routerLink="/products"><i class="nc-icon nc-book-bookmark"></i> Documentation</a>
                </li>
             
                <li class="nav-item" >
                    <a [routerLink]="['/home']" *ngIf="!isDocumentation()" class="nav-link"><i class="nc-icon nc-layout-11"></i>Components</a>
                    <a [routerLink]="['/home']" *ngIf="isDocumentation()" class="nav-link">Back to Kit</a>
                </li>
                <li class="nav-item" >
                  <a   class="btn btn-danger btn-round">Carrito</a>
              </li>
                <li class="nav-item" *ngIf="isDocumentation()">
                    <a href="https://github.com/creativetimofficial/paper-kit-2-angular/issues?ref=pk2-free-local" target="_blank" class="nav-link">Have an issue</a>
                </li>
            </ul>
        </div>
    </div>
</nav> -->



<!-- <div class="navbar-inner">
  <div class="container">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="agileits-navi_search">
        <form action="#" method="post">
          <select id="agileinfo-nav_search" name="agileinfo_search" class="border" required="">
            <option value="">All Categories</option>
            <option value="Televisions">Televisions</option>
            <option value="Headphones">Headphones</option>
            <option value="Computers">Computers</option>
            <option value="Appliances">Appliances</option>
            <option value="Mobiles">Mobiles</option>
            <option value="Fruits &amp; Vegetables">Tv &amp; Video</option>
            <option value="iPad & Tablets">iPad & Tablets</option>
            <option value="Cameras & Camcorders">Cameras & Camcorders</option>
            <option value="Home Audio & Theater">Home Audio & Theater</option>
          </select>
        </form>
      </div>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
          aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto text-center mr-xl-5">
          <li class="nav-item active mr-lg-2 mb-lg-0 mb-2">
            <a class="nav-link" href="index.html">Home
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item dropdown mr-lg-2 mb-lg-0 mb-2">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Electronics
            </a>
            <div class="dropdown-menu">
              <div class="agile_inner_drop_nav_info p-4">
                <h5 class="mb-3">Mobiles, Computers</h5>
                <div class="row">
                  <div class="col-sm-6 multi-gd-img">
                    <ul class="multi-column-dropdown">
                      <li>
                        <a href="product.html">All Mobile Phones</a>
                      </li>
                      <li>
                        <a href="product.html">All Mobile Accessories</a>
                      </li>
                      <li>
                        <a href="product.html">Cases & Covers</a>
                      </li>
                      <li>
                        <a href="product.html">Screen Protectors</a>
                      </li>
                      <li>
                        <a href="product.html">Power Banks</a>
                      </li>
                      <li>
                        <a href="product.html">All Certified Refurbished</a>
                      </li>
                      <li>
                        <a href="product.html">Tablets</a>
                      </li>
                      <li>
                        <a href="product.html">Wearable Devices</a>
                      </li>
                      <li>
                        <a href="product.html">Smart Home</a>
                      </li>
                    </ul>
                  </div>
                  <div class="col-sm-6 multi-gd-img">
                    <ul class="multi-column-dropdown">
                      <li>
                        <a href="product.html">Laptops</a>
                      </li>
                      <li>
                        <a href="product.html">Drives & Storage</a>
                      </li>
                      <li>
                        <a href="product.html">Printers & Ink</a>
                      </li>
                      <li>
                        <a href="product.html">Networking Devices</a>
                      </li>
                      <li>
                        <a href="product.html">Computer Accessories</a>
                      </li>
                      <li>
                        <a href="product.html">Game Zone</a>
                      </li>
                      <li>
                        <a href="product.html">Software</a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </li>
          <li class="nav-item dropdown mr-lg-2 mb-lg-0 mb-2">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Appliances
            </a>
            <div class="dropdown-menu">
              <div class="agile_inner_drop_nav_info p-4">
                <h5 class="mb-3">TV, Appliances, Electronics</h5>
                <div class="row">
                  <div class="col-sm-6 multi-gd-img">
                    <ul class="multi-column-dropdown">
                      <li>
                        <a href="product2.html">Televisions</a>
                      </li>
                      <li>
                        <a href="product2.html">Home Entertainment Systems</a>
                      </li>
                      <li>
                        <a href="product2.html">Headphones</a>
                      </li>
                      <li>
                        <a href="product2.html">Speakers</a>
                      </li>
                      <li>
                        <a href="product2.html">MP3, Media Players & Accessories</a>
                      </li>
                      <li>
                        <a href="product2.html">Audio & Video Accessories</a>
                      </li>
                      <li>
                        <a href="product2.html">Cameras</a>
                      </li>
                      <li>
                        <a href="product2.html">DSLR Cameras</a>
                      </li>
                      <li>
                        <a href="product2.html">Camera Accessories</a>
                      </li>
                    </ul>
                  </div>
                  <div class="col-sm-6 multi-gd-img">
                    <ul class="multi-column-dropdown">
                      <li>
                        <a href="product2.html">Musical Instruments</a>
                      </li>
                      <li>
                        <a href="product2.html">Gaming Consoles</a>
                      </li>
                      <li>
                        <a href="product2.html">All Electronics</a>
                      </li>
                      <li>
                        <a href="product2.html">Air Conditioners</a>
                      </li>
                      <li>
                        <a href="product2.html">Refrigerators</a>
                      </li>
                      <li>
                        <a href="product2.html">Washing Machines</a>
                      </li>
                      <li>
                        <a href="product2.html">Kitchen & Home Appliances</a>
                      </li>
                      <li>
                        <a href="product2.html">Heating & Cooling Appliances</a>
                      </li>
                      <li>
                        <a href="product2.html">All Appliances</a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </li>
          <li class="nav-item mr-lg-2 mb-lg-0 mb-2">
            <a class="nav-link" href="about.html">About Us</a>
          </li>
          <li class="nav-item mr-lg-2 mb-lg-0 mb-2">
            <a class="nav-link" href="product.html">New Arrivals</a>
          </li>
          <li class="nav-item dropdown mr-lg-2 mb-lg-0 mb-2">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Pages
            </a>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="product.html">Product 1</a>
              <a class="dropdown-item" href="product2.html">Product 2</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="single.html">Single Product 1</a>
              <a class="dropdown-item" href="single2.html">Single Product 2</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="checkout.html">Checkout Page</a>
              <a class="dropdown-item" href="payment.html">Payment Page</a>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="contact.html">Contact Us</a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</div> -->


<nav class="navbar navbar-expand-lg navbar-light bg-blue fixed-top ">

  <div class="container">

    <a class="navbar-brand" routerLink="/home">Grupo Vásquez</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" routerLink="/home">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/products">Productos <span class="sr-only">(current)</span></a>
        </li>
  
        <!-- <li class="nav-item">
         <a class="nav-link disabled" href="#">Disabled</a> 
        
        </li> -->
      </ul>
      <form class="form-inline ">
        <input class="form-control mr-sm-8" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Buscar</button>

      </form>

    </div>


  </div>

  <a routerLink="/order" mat-raised-button [matBadge]="total$ | async" matBadgeColor="warn">
    <mat-icon>shopping_cart</mat-icon>
    Carrito
  </a>
</nav>