
<div>
<br>
<br>

  <div class="product-grid">
    <app-producto-card
      *ngFor="let product of products"
      (productClicked)="clickProduct($event)"
      [product]="product">
    </app-producto-card>
  </div>
  
</div>


