<div class="app-body">
  <main class="main d-flex align-items-center">
    <div class="container">
      <div class="row">
        <div class="col-md-4 mx-auto">
          <div class="card-group">
            <div class="card p-4">
              <div class="card-body">
                <form [formGroup]="Formulario" class="was-validated">
                  <h1>Ingresar al sistema</h1>
                  <p class="text-muted">Ingresar las credenciales</p>
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="icon-user"></i></span>
                    </div>
                    <input type="text" class="form-control" placeholder="Ingrese su usuario" formControlName="fm_User" [class.control-invalid]="formInvalid('fm_User')" autocomplete="username" required>
                  </div>
                  <div class="input-group mb-4">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="icon-lock"></i></span>
                    </div>
                    <input type="password" class="form-control" placeholder="Ingrese su clave" formControlName="fm_Pass" [class.control-invalid]="formInvalid('fm_Pass')"  autocomplete="current-password" required>
                  </div>
                  <div class="row">
                    <div class="col-6">
                      <button type="button" class="btn btn-primary px-4" [disabled]="Formulario.invalid"    (click)="login();">Ingresar</button>
                    </div>
                    <div class="col-6 text-right">
                      <button type="button" class="btn btn-link px-0">Olvidó su contraseña?</button>
                    </div>

                    <div class="col-6 text-right">
                      <div *ngIf="isLoading"  class="d-flex justify-content-center">
                        <div class="spinner-border" role="status">
                            <span class="sr-only" id="loading"></span>
                        </div>
                    </div>

                    <div *ngIf="!isLoading"  class="mensajeOlvidar">
                      <span>{{mensaje}}</span>
                  </div>
                    </div>
                  </div>
                </form>
              </div>
            </div>
            <!-- <div class="card text-white bg-primary py-5 d-md-down-none" style="width:44%">
              <div class="card-body text-center">
                <div>
                  <h2>Sign up</h2>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                  <button type="button" class="btn btn-primary active mt-3">Register Now!</button>
                </div>
              </div>
            </div> -->
          </div>
        </div>
      </div>
    </div>
  </main>
</div>
