
<app-header
  [navbarBrandRouterLink]="['/admin/dashboard']"
  [fixed]="true"
  [navbarBrandFull]="{src: 'assets/img/brand/Logo.jpg', width: 120, height: 45}"
  [navbarBrandMinimized]="{src: 'assets/img/brand/logo_min.jpg', width: 40, height: 50}"
  [sidebarToggler]="'false'"
  [asideMenuToggler]="false"
  [mobileAsideMenuToggler]="false">

  <ul class="nav navbar-nav ml-auto">

    <li class="nav-item dropdown" dropdown placement="bottom right">
      <a class="nav-link" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false" dropdownToggle (click)="false">
        <img src="assets/img/avatars/user.jpg" class="img-avatar" />
      </a>
      <div class="dropdown-menu dropdown-menu-right" *dropdownMenu aria-labelledby="simple-dropdown">
        <div class="dropdown-header text-center"><strong>Cuenta</strong></div>

        <a style=" cursor: pointer;" class="dropdown-item" (click)="cerrarSesion()"><i class="fa fa-lock"></i> Cerrar sesión</a>
      </div>
    </li>
  </ul>
</app-header>
<div class="app-body">
  <app-sidebar #appSidebar [fixed]="true" [display]="'lg'" [minimized]="sidebarMinimized" (minimizedChange)="toggleMinimize($event)">
    <app-sidebar-nav [navItems]="navItems" [perfectScrollbar] [disabled]="appSidebar.minimized"></app-sidebar-nav>
    <app-sidebar-minimizer></app-sidebar-minimizer>
  </app-sidebar>
  <!-- Main content -->
  <main class="main">
    <!-- Breadcrumb -->
    <!-- breaking change 'cui-breadcrumb' -->
    <cui-breadcrumb>
      <!-- Breadcrumb Menu-->

    </cui-breadcrumb>

    <div class="container-fluid">
      <block-ui></block-ui>
      <router-outlet></router-outlet>
    </div><!-- /.container-fluid -->
  </main>

</div>
<app-footer>
  <span> &copy; Grupo Vasquez</span>
 
</app-footer>
