<footer>
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-md-4">
          <div class="box">
            <h3>Productos</h3>
            <ul>
              <li>
                <a routerLink="/products" [queryParams]="{ type: 'news' }"
                  >Nuevos Productos</a
                >
              </li>
              <li>
                <a routerLink="/products" [queryParams]="{ type: 'offer' }"
                  >En oferta</a
                >
              </li>
              <li>
                <a routerLink="/products" [queryParams]="{ type: 'latest' }"
                  >Últimos productos</a
                >
              </li>
            </ul>
          </div>
        </div>
        <div class="col-xs-12 col-md-4">
          <div class="box">
            <h3>Acerca de </h3>
            <ul>
              <li><a routerLink="/about-us">Sobre nosotros</a></li>
              <li><a routerLink="/stores">Nuestras tiendas</a></li>
              <li><a routerLink="/admin">Gestión</a></li>
            </ul>
          </div>
        </div>
        <div class="col-xs-12 col-md-4">
  
        </div>
      </div>
    </div>
  </footer>


  <!-- <footer class="footer">
    <div class="container">
        <div class="row">
            <nav class="footer-nav">
                <ul>
                    <li><a href="https://www.creative-tim.com">Creative Tim</a></li>
                    <li><a href="http://blog.creative-tim.com">Blog</a></li>
                    <li><a routerLink="/admin">Gestión</a></li>
                </ul>
            </nav>
            <div class="credits ml-auto">
                <span class="copyright">
                    © {{test | date: 'yyyy'}}, made with <i class="fa fa-heart heart"></i> by Creative Tim
                </span>
            </div>
        </div>
    </div>
</footer> -->