<div class="animated fadeIn">
    <!-- <div class="row">
      <div class="col-sm-12">
        <div class="card">
          <div class="card-header">
            <small>Formulario de</small>
            <strong>Lista de productos</strong>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="form-group col-sm-3">
                <label for="ccmonth">ID producto</label>
                <input type="text" class="form-control"  [(ngModel)]="idExpediente" placeholder="Nro. producto">
              </div>
              <div class="form-group col-sm-3">
                <label for="ccmonth">Palabra clave</label>
                <input type="text"  class="form-control" id="cvv" [(ngModel)]="txtbuscar" placeholder="Ingrese alguna palabra clave">
              </div>
              <div class="form-group col-sm-3">
                <label for="ccyear">Categoría</label>
                <select class="form-control" id="ccmonth" [(ngModel)] ="tipodeOrigen">
                  <option value ="0">Seleccione Tipo de categpría</option>
                  <option *ngFor="let tipOr of tipoCategoria" [value]="tipOr.value">
                    {{tipOr.name}}
                  </option>
                </select>
              </div>
            </div>

          </div>
          <div class="card-footer">
            <button type="submit" class="btn btn-sm btn-primary" (click) ="search();"><i class="fa fa-dot-circle-o"></i> Buscar</button>
            <button type="reset" class="btn btn-sm btn-danger" (click) ="restoreFilter();"><i class="fa fa-ban"></i> Restablecer</button>
          </div>
        </div>
      </div>
    </div> -->
    <div class="row">
      <div class="col-lg-12">
        <div class="card">
          <!-- <div class="card-header">
            <i class="fa fa-align-justify"></i> Combined All Table
          </div> -->
          <div class="card-header">
            <small>Listado de</small>
            <strong>Marcas</strong>
            <div class="card-header-actions">
             <app-gestion-marca></app-gestion-marca>
            </div>
          </div>
          <div id="tablediv" class="card-body">
            <table class="table table-bordered table-striped  table-responsive-sm">
              <thead>
                <tr>
                  <th >Nro. </th>
                  <th >ID de Marca </th>
                  <th >Descripción</th>
                  <th >Estado</th>         
                  <!-- <th [mdbTableSort]="fileTable" sortBy="estExpediente">Estado</th> -->
                  <th class="acciones">Acciones</th>
                </tr>
              </thead>
              <tbody *ngFor="let exp of listaMarca ;index as i;">
                <tr>
                  <td >{{i + 1}}</td>
                  <td  >{{exp.marca_id}}</td>
                  <td >{{exp.descripcion}}</td>
                  <td >{{exp.estado}}</td>
              
                  <td class="acciones" >            
                    <app-gestion-marca show="ver" [data]="exp"></app-gestion-marca>
                    <app-gestion-marca show="editar" [data]="exp" (dataEvent)="listAll()"></app-gestion-marca>
                    <button type="reset" class="btn btn-sm btn-danger" popover="Eliminar expediente"  triggers="mouseenter:mouseleave"  (click)=" ActionTable(3,exp.id)"><i class="fa icon-trash"></i> </button>
                  </td>
                </tr>
              </tbody>
            </table>
              <div *ngIf="isLoading"  class="d-flex justify-content-center">
                <div class="spinner-border" role="status">
                    <span class="sr-only" id="loading"></span>
                </div>
            </div>
            <div class="col col-md-12" *ngIf="resulta" style="text-align: center;">
              <span style="font-weight: bold;">No se encontró ningun Registro</span>
              <hr>
          </div>  


              <div class="col-xs-12 col-12">
                <pagination [totalItems]="dataFile?.recordsTotal"  [maxSize]="10" class="pagination-sm"
                            previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;"
                            [boundaryLinks]="true" [rotate]="false"  (pageChanged)="pageChanged($event)" [itemsPerPage]="10" ></pagination>
              </div> 
          </div>
        </div>
      </div>
    </div>
  </div>

