<!-- <button *ngIf="show === 'nuevo'" type="reset" class="btn btn-sm btn-success" (click)="modalShow();"><i
    class="fa cil-file"></i> Registrar ven</button> -->
<button *ngIf="show === 'ver'" type="reset" class="btn btn-sm btn-primary" popover="Ver expediente"
  triggers="mouseenter:mouseleave" (click)="modalShow();"><i class="fa icon-eye"></i></button>
<button *ngIf="show === 'editar'" type="reset" class="btn btn-sm btn-warning" popover="Editar expediente"
  triggers="mouseenter:mouseleave" (click)="modalShow();"><i class="fa icon-pencil"></i></button>&nbsp;


<div bsModal #largeModal="bs-modal" class="modal fade cd-example-modal-xl" tabindex="-1" role="dialog"
  aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">{{tittle}}</h4>
        <button type="button" class="close" (click)="modalClose()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="Formulario">
          <div class="form-group">
            <label>Nombre</label>
            <input type="text" class="form-control" formControlName="fm_nombre" required>
          </div>
          <div class="form-group">
            <label for="vat">Descripción</label>

            <textarea rows="3" class="form-control" formControlName="fm_descripcion" required></textarea>
          </div>

          <div class="row">
            <div class="form-group col-sm-4">
              <label>Precio</label>
              <input type="text" class="form-control" formControlName="fm_precio" required>
            </div>
            <div class="form-group col-sm-4">
              <label>Descuento</label>
              <input type="text" class="form-control" formControlName="fm_descuento" required>
            </div>
            <div class="form-group col-sm-4">
              <label for="postal-code">Stock</label>
              <input type="text" class="form-control" formControlName="fm_stock" required>
            </div>
          </div>
          <div class="row">
            <div class="form-group col-sm-6">
              <label>Marca</label>
              <!-- <input type="text" class="form-control" formControlName="fm_marca" required> -->
              <select id="select1" name="select1" class="form-control" formControlName="fm_marca" required>
                <option value="">Please select</option>
                <option value="1">Option #1</option>
                <option value="2">Option #2</option>
                <option value="3">Option #3</option>
              </select>
            </div>
            <div class="form-group col-sm-6">
              <label>Subcategoría</label>
              <!-- <input type="text" class="form-control" formControlName="fm_subcategoria" required> -->
              <select id="select1" name="select1" class="form-control" formControlName="fm_subcategoria" required>
                <option value="">Please select</option>
                <option value="1">Option #1</option>
                <option value="2">Option #2</option>
                <option value="3">Option #3</option>
              </select>
            </div>

          </div>


          <div class="row">
            <div class="form-group col-sm-12">
              <div>Adjuntar archivos</div>

              <!-- <file-upload accept="image/*" formControlName="files"  [animation]="animation" [fileslimit]="2" required>
                <ng-template let-isFileDragDropAvailable="isFileDragDropAvailable" #placeholder>
                  <file-upload-drop-zone>
                    <ng-container *ngIf="isFileDragDropAvailable; else isNotDragDropAvailable">
                      Agregar archivos , o dar click aquí.
                    </ng-container>
                    <ng-template #isNotDragDropAvailable>
                    </ng-template>
                  </file-upload-drop-zone>
                </ng-template>

                <ng-template let-i="index" let-file="file" let-control="control" #item>
                  <file-upload-list-item [index]="i" [file]="file" [control]="control">Remover</file-upload-list-item>
                </ng-template>
              </file-upload>

              <p *ngIf="uploadedFiles.length <= 0" class="text-file-valid">Mínimo un documento</p>
              <p *ngIf="uploadedFiles.length > 0" class="text-file-valid">Máximo cinco(5) documentos</p> -->

              <div class="custom-dropzone" [disabled]="show === 'ver'" ngx-dropzone [accept]="'image/*'" (change)="onSelect($event)">
                <ngx-dropzone-label>
                  <div>
                    <h2> Arrastrar imágenes , o dar click aquí.</h2>
                  </div>
                </ngx-dropzone-label>
                <ngx-dropzone-image-preview   ngProjectAs="ngx-dropzone-preview" *ngFor="let f of files" [file]="f" [removable]="true" (removed)="onRemove(f)">
                  <!-- <ngx-dropzone-label>{{ f.name }} ({{ f.type }})</ngx-dropzone-label> -->
                </ngx-dropzone-image-preview>
              </div>
              <div   class="mensaje">
                <span>{{mensaje}}</span>
            </div>
            </div>
          </div>

        </form>


      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="modalClose()">Cerrar</button>
        <button *ngIf="show !== 'ver'" type="button" (click)="Save();" [disabled]="!Formulario.valid"
          class="btn btn-primary">
          {{
          (idProducto === 0 ? 'Grabar Producto' : 'Modificar Producto')
          }}
        </button>
      </div>
    </div>
  </div>
</div>