<button *ngIf="show === 'nuevo'" type="reset" class="btn btn-sm btn-success" (click)="modalShow();"><i
    class="fa cil-file"></i> Registrar categoría</button>
<button *ngIf="show === 'ver'" type="reset" class="btn btn-sm btn-primary" popover="Ver expediente"
  triggers="mouseenter:mouseleave" (click)="modalShow();"><i class="fa icon-eye"></i></button>
<button *ngIf="show === 'editar'" type="reset" class="btn btn-sm btn-warning" popover="Editar expediente"
  triggers="mouseenter:mouseleave" (click)="modalShow();"><i class="fa icon-pencil"></i></button>&nbsp;


<div bsModal #largeModal="bs-modal" class="modal fade cd-example-modal-xl" tabindex="-1" role="dialog"
  aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">{{tittle}}</h4>
        <button type="button" class="close" (click)="modalClose()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="Formulario">
          <div class="form-group">
            <label for="vat">Descripción</label>

            <textarea rows="3" class="form-control" formControlName="fm_descripcion" required></textarea>
          </div>





        </form>


      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="modalClose()">Cerrar</button>
        <button *ngIf="show !== 'ver'" type="button" (click)="Save();" [disabled]="!Formulario.valid"
          class="btn btn-primary">
          {{
          (idCategoria === 0 ? 'Grabar Categoría' : 'Modificar Categoría')
          }}
        </button>
      </div>
    </div>
  </div>
</div>