<block-ui></block-ui>

<app-header-home></app-header-home>

<div class="container">
  <!-- <br>
  <br>
  <br> -->
  <div>
    <router-outlet></router-outlet>
  </div>

</div>


<app-footer-home></app-footer-home>